<p id="notice"><%= notice %></p>

<h1>Improvements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @improvements.each do |improvement| %>
      <tr>
        <td><%= improvement.name %></td>
        <td><%= improvement.email %></td>
        <td><%= improvement.content %></td>
        <td><%= link_to 'Edit', edit_improvement_path(improvement) %></td>
        <td><%= link_to 'Destroy', improvement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p id=test></p>

<%= link_to 'Back', new_like_path %>


<!-- <script> 

document.getElementById("number").innerHTML =  "Your are the " + NumLike + "th person who likes our service";
</script> -->
